.navbar-container {
  list-style-type: none;
  background-color: var(--steelblue);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 3rem;
}

.navbar-elements {
  display: flex;
  align-items: center;
  margin: 0;
}

.navbar-el {
  color: var(--confetti);
  padding: 14px 16px;
  text-decoration: none;
}

.navbar-el-caption {
  color: var(--confetti);
  /* display: block; */
  text-align: center;
  text-decoration: none;
  margin: 0 1rem;
}

.navbar-el:hover, .navbar-el:focus {
  outline:none;
  background-color: var(--confetti);
  color: var(--steelblue);
  transition: background-color 0.25s ease-in-out;
}

@media only screen and (max-width: 600px) {
  .navbar-container, .navbar-elements {
    flex-direction: column;
    align-items: stretch;
  }

  .navbar-elements li {
    width: 100%;
    padding: 0.5rem 0;
  }

  .navbar-el {
    padding: 0;
  }

  .navbar-elements li:hover, .navbar-elements li:hover a {
    outline:none;
    background-color: var(--confetti);
    color: var(--steelblue);
    transition: background-color 0.25s ease-in-out;
  }
  
}