
.audioplayer-settings {
  display: flex;
  align-items: center;
  justify-content: center;
}


.read-audioplayer {
  position: -webkit-fixed; /* Safari */
  position: fixed;
  transform: translateY(100%);
  bottom: 0;
  margin: 0 auto;
  width: 35%;
  left: calc(50% - 35%/2);
  border-radius: 20px;
  min-height: 5rem;
  background: linear-gradient(135deg, var(--steelblue) 50%, var(--steelbluedarker));
  border: 1px solid black;
  transition: transform 350ms ease-in;
  box-shadow:
    10px 10px 10px 0 rgba(0, 0, 0, 0.25),
    -2px -2px 4px 0 rgba(255, 255, 255, 0.3);
}

.visible {
  transform: translateY(0%);
}
.toggle-button {
  position: fixed;
  top: 80%;
  right: 6%;
  z-index: 999;
}

.toggle-button svg {
  min-width: 8.5rem;
  height: 8rem;
  fill: var(--steelblue);
  transition: ease-in-out 100ms;
  cursor: pointer;
}

.toggle-button:hover svg {
  fill: var(--confetti)
}

.toggle-button .tooltip {
  bottom: 100%; /* custom tooltip positioning for this element */
}

.toggle-button:hover .tooltip {
  animation: opacity-tooltip-transition 1s ;
  visibility: visible;
  opacity: 1;
}




.cassette {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 1rem auto 3rem auto;
  background: white;
  height: 2rem;
  width: 20rem;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  border: 2px solid  black;
  z-index: 990;
}

.cassette::after {
    content: "";
    background: linear-gradient(45deg, white 0%, grey 15%, white 50%, black 70%, grey 80%);
    box-shadow: inset 0 0 5px #000000;
    opacity: 0.45;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 999;
  }

.cassette-left, .cassette-right {
  background: black;
  width:4rem;
  height:4rem;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cassette-left {
  border: 2rem solid #151414;
  margin: 2rem;
}

.cassette-right {
  border: 2rem solid #151414;
  margin: 2rem;
}

.active svg {
  animation:spin 4s linear infinite;
}

@keyframes spin {
  100% {
    transform:rotate(360deg);
  }
}

.cassette path {
}

.cassette-cover {
  background: linear-gradient(135deg, var(--cranberry) 50%, var(--cranberrydarker));
  opacity: 1;
  width: 20rem;
  margin: 0 auto 0 auto;
  padding: 1rem 2.5rem 2rem 2.5rem;
  border: 1px solid black;
  box-shadow:
    1px 1px 1px 0 rgba(0, 0, 0, 0.25)
}

.recording-react-select-container {
  width: 15rem;
  font-family: 'Digital';
  letter-spacing: 3px;
}

.recording-selector {
  cursor: pointer;
}

.icon-audio-player {
  width: 2rem;
  height: 2rem;
  padding: 0 0.5rem 0 1rem;
  cursor: pointer;
  position: relative;
}

.icon-audio-player svg {
  width: inherit;
  height: inherit;
  fill: var(--cranberry);
  transition: ease-in-out 100ms;
}

.audio-player-disabled svg {
  opacity: 0.8;
  cursor: default;
}

.icon-audio-player:hover svg {
  fill: var(--confetti);
}

.icon-audio-player:hover .tooltip {
  animation: opacity-tooltip-transition 1s ;
  visibility: visible;
  opacity: 1;
}

.audio-player-abled:hover svg {
  color: var(--confetti);
  transition: ease-in-out 100ms;
}
.toggle-auto-play:hover {
  color: var(--confetti);
  transition: ease-in-out 100ms;
}
