.admin-navbar {
  background-color: var(--powderblue);
}

.admin-navbar .navbar-el {
  color: var(--cranberry);
}

.admin-navbar .navbar-el:hover, .navbar-el:focus {
  outline:none;
  background-color: var(--cranberry);
  color: var(--confetti);
  transition: background-color 0.25s ease-in-out;
}

.admin-language-container {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: auto;
}
