
.loaded-pdf {
  color: black;
  text-align: left;

}

.text-container {
  display: flex;
  line-height: 1.5em;
}

.load-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pdf-to-text {
  width: 50%;
}

.loaded-pdf::selection {
  color:white;
  background-color: var(--cranberry);
  font-weight: bold;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.preview-compare {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--cranberry);
  min-height: 80px;
  font-size: 17px;
}

.preview-compare p, .preview-compare h3 {
  font-weight: bold;
  color: white;
}

.load-preview-compare {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.preview-selected {
  background-color: var(--steelblue);
  color: var(--confetti);
  min-height: 80px;
  font-weight: bold;
  font-size: 20px;
}

/* The Modal (background) */
.modal-new-translation {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-new-translation-content {
  position:absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation-name: animatetop;
  animation-duration: 0.4s
}

.modal-new-translation-buttons {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 20vw;
  padding: 3rem;
}

.modal-new-translation-icon {
  position:fixed;
  top: 5%;
  right: 5%;
  font-size: 2rem;
  padding: 1rem;
  margin: 0;
}

.modal-new-translation-icon .icon {
  color: var(--steelblue);
  cursor: pointer;
}
.modal-new-translation-icon:hover .icon {
  color: var(--cranberry);
}

input[type="file"] {
  display:none;
}

.file-selector-label {
  width: 100%;
}

.edit-container {
  position:fixed;
  display:flex;
  background-color: var(--confetti);
  color: var(--steelblue);
  flex-direction: column;
  align-items: baseline;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 2px solid var(--steelblue) ;
  right: 5%;
}

.edit-button {
  box-shadow: 0 0 #d9d9d9, 0 0 #d9d9d9, 0 1px #d9d9d9, 0 2px #d9d9d9, 0 3px #d9d9d9, 0 4px #d9d9d9, 0 5px #d9d9d9, 2px 2.5px 4px #adb5bd, 0 -1px 2.5px #adb5bd;
  transform: translateZ(5px);
  transform-style: preserve-3d;
  transition: all .25s cubic-bezier(.2,1,.2,1);
  border: 1px solid #e6e6e6;
}

.edit-button:after {
      border-radius: 0.5rem;
      border-width: 0.125rem;
      bottom: -10px;
      left: -0.3125rem;
      right: -0.3125rem;
      top: 0;
      transform: translateZ(-5px);
}
.edit-button:active:after {
    transform: translate3d(0,-5px,0);
}

.edit-button:active {
    transform: scale(1) translateZ(5px) translate3d(0,5px,0);
}

@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 50%; opacity: 1}
}
