.translation-container {
  font-family: "DM Serif Display", "NotoBold";
  display: flex;
  align-content: flex-end;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.load-translation-container {
  display: flex;
  align-items: center;
  justify-content: center;
}



.translation {
  box-shadow: #fff 0px 13px 27px -5px, #fff 0px 8px 16px -8px;
  margin: auto;
  max-width: 60%;
  text-align: justify;
  display:inline;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.dialogue, .paragraph {
  display: inline;
  font-size: 20px;
}

.dialogue, .paragraph, .dedication, .chapter {
  position:relative;
  float: none;
  padding: 10px 5px;
  line-height: 55px;
}

.dedication {
  text-align: center;
  font-size: 20px;
}

.chapter {
  text-align: center;
  margin: 20px 0px;
  font-size: 50px;
}

.languageOne {
  background-color: var(--steelblue);
  color: var(--confetti);
}
.languageTwo {
  background-color: var(--confetti);
  color:var(--steelblue);
}

.languageOne:hover {
  box-shadow: #fff 2px;
}

.recordedAndInDb {
  border-top: 1px solid var(--cranberry);
}

.languageTwo:hover {
  box-shadow: #fff;
}

.languageOne, .languageTwo {
  border-radius: 0px;
}


.empty {
  clear: both;
  display: block;
  padding: 5px 0px;
  content: '';
}

#current {
  background-color: var(--cranberry);
}


.report-issue-button {
  position: fixed;
  top : 70%;
  right: 5%;
}

.report-issue-comment {
  width: 20rem;
  border-color: hsl(0, 0%, 80%);
  border-width: 1px;
  border-radius: 0;
  margin: auto;
}

.report-issue-comment:focus {
  outline: none !important;
  border-width: 2px;
  border-color: var(--steelblue);
}

.report-issue-container p {
  text-align: left;
}
.report-issue-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.report-issue-container button {
  width: 10rem;
  margin: auto;
}

.report-issue-container .react-select-container {
  margin:auto;
}

.img {
  display: block;
  position: relative;
  text-align: center;
  margin: 5px;
}
