@font-face {
  font-family: "DM Serif Display";
  src: url('../public/fonts/DMSerifDisplay-Regular.ttf');
}
@font-face {
  font-family: "Bellefair";
  src: url('../public/fonts/Bellefair-Regular.ttf');
}
@font-face {
  font-family: "Rubik";
  src: url('../public/fonts/Rubik-VariableFont_wght.ttf');
}
@font-face {
  font-family: "Digital";
  src: url('../public/fonts/digital-7.ttf');
}
@font-face {
  font-family: "Noto";
  src: url('../public/fonts/NotoSansTC-Regular.otf');
}
@font-face {
  font-family: "NotoBold";
  src: url('../public/fonts/NotoSansTC-Bold.otf');
}


:root {
  --powderblue : #AFD8E5;
  --powderbluedarker : #6da2b3;
  --cranberry: #DB4F7D;
  --cranberrydarker: #8c324f;
  --confetti: #E5D15D;
  --steelblue: #408CA2;
  --steelbluedarker: #2c6575;
}

::selection {
  color: white;
  background: var(--confetti);
}

body {
  margin: 0;
  font-family: "Rubik","Noto",-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2b2b2b;
}

b {
  color: var(--cranberry);
}

blockquote {
  text-align: justify ;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* CSS */
button, .file-selector {
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, var(--powderblue) 0%, var(--powderblue)  75%, var(--powderbluedarker)  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover, .file-selector:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

button:active, .file-selector:active {
  transform: scale(0.95);
}

.react-select-container {
  width: 20rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--powderblue) inset !important;
}

@keyframes opacity-tooltip-transition {
  0%  {opacity: 0; visibility: hidden;}
  80%  {opacity: 0; visibility: visible;}
  100% {opacity: 1;}
}

.tooltip {
  visibility: hidden;
  min-width: 120px;
  background-color: var(--cranberry);
  color: var(--confetti);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  user-select: none;
}

/* Tooltip arrow */
.tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--cranberry) transparent transparent transparent;
}
