.recorder-load-translation {
 display: flex;
 align-items: center;
 justify-content: center;
}

.clear{
  clear: both;
  display: block;
  padding: 5px 0px;
  content: "";
  width: 100%;
}


.recorder {
  position: -webkit-fixed; /* Safari */
  position: fixed;
  bottom: 0;
  width: 50%;
  left: 25%;
  background: linear-gradient(135deg, var(--steelblue) 50%, var(--steelbluedarker));
}

.recorder-container {
  display: flex;
  justify-content:center;
  padding-bottom: 1rem;
  user-select: none;
}


.recorded {
  background-color: orange;
  color: gray;
}

.recordedAndInDb-recorder {
  background-color: green;
}

.button-recorder {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  padding: 0 1rem ;
  position: relative;
}

/* Show the tooltip text when you mouse over the tooltip container */
.button-recorder:hover .tooltip {
  animation: opacity-tooltip-transition 1s ;
  visibility: visible;
  opacity: 1;
}

.button-recorder svg {
  width: inherit;
  height: inherit;
  fill: var(--cranberry);
  transition: ease-in-out 100ms;
}

.button-recorder:hover svg {
  fill: var(--confetti);
}

.button-recorder--isrecording svg {
  fill:red;
}

.button-recorder--isrecording:hover svg {
  fill:red;
}

@media only screen and (max-width: 600px) {
  .recorder {
    left:0;
    width:100%
  }

  .button-recorder {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    padding: 0 0.5rem ;
    position: relative;
  }
}