.recorder-load-translation {
 display: flex;
 align-items: center;
 justify-content: center;
}

.clear{
  clear: both;
  display: block;
  padding: 5px 0px;
  content: "";
  width: 100%;
}


.audioplayer {
  position: -webkit-fixed; /* Safari */
  position: fixed;
  bottom: 0;
  width: 50%;
  left: 25%;
  background: linear-gradient(135deg, var(--steelblue) 50%, var(--steelbluedarker));
}



.recorded {
  background-color: orange;
  color: gray;
}

.recordedAndInDb {
  background-color: green;
}

.button-recorder {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.button-recorder svg {
  width: inherit;
  height: inherit;
  fill: var(--cranberry);
  transition: ease-in-out 100ms;
}

.button-recorder:hover svg {
  fill: var(--confetti);
}

.button-recorder--isrecording svg {
  fill:red;
}

.button-recorder--isrecording:hover svg {
  fill:red;
}
